@model SalonBookingSystem.Models.BeautyService

@{
    ViewData["Title"] = "Добавяне";
}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-success text-white">

            <h3>Добавяне на услуга</h3>

        </div>

        <div class="card-body">

            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">

                    <label asp-for="Name"></label>

                    <input asp-for="Name" class="form-control" />

                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="DurationMinutes"></label>

                    <input asp-for="DurationMinutes" class="form-control" />

                    <span asp-validation-for="DurationMinutes"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="Price"></label>

                    <input asp-for="Price" class="form-control" />

                    <span asp-validation-for="Price"></span>

                </div>

                <button class="btn btn-success">

                    Запази

                </button>

                <a asp-action="Index" class="btn btn-secondary">

                    Назад

                </a>

            </form>

        </div>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}