@model SalonBookingSystem.Models.BeautyService

@{
    ViewData["Title"] = "Изтриване";
}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-6">


            <div class="card border-0 shadow-sm">


                <div class="card-body p-5 text-center">


                    <h2 class="fw-bold mb-3">

                        Потвърждение

                    </h2>


                    <p class="text-muted">

                        Сигурни ли сте, че искате да изтриете тази услуга?

                    </p>


                    <h4 class="mb-4">

                        @Model.Name

                    </h4>


                    <form asp-action="Delete">


                        <input type="hidden"
                               asp-for="Id" />


                        <button class="btn btn-danger px-4">

                            Изтрий

                        </button>


                        <a asp-action="Index"
                           class="btn btn-outline-secondary">

                            Отказ

                        </a>


                    </form>


                </div>


            </div>


        </div>


    </div>


</div>